<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>XinRevolution - Manager</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js"></script>

    @RenderSection("Styles", required: false)
</head>
<body>
    <header class="header">XinRevolution</header>

    <section class="frame">
        <aside class="menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">使用者管理</a>
                </li>
                <li class="nav-item">
                    <div class="accordion" id="menu-accordion-blog">
                        <div class="accordion-head" id="menu-accordion-blog-head">
                            <a href="#" data-toggle="collapse" data-target="#menu-accordion-blog-content" aria-expanded="false" aria-controls="menu-accordion-blog-content">部落格管理</a>
                        </div>

                        <div class="collapse acoordion-content" id="menu-accordion-blog-content" aria-labelledby="menu-accordion-blog-head" data-parent="#menu-accordion-blog">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link">標籤管理</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link">部落格管理</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="accordion" id="menu-accordion-issue">
                        <div class="accordion-head" id="menu-accordion-issue-head">
                            <a href="#" data-toggle="collapse" data-target="#menu-accordion-issue-content" aria-expanded="false" aria-controls="menu-accordion-issue-content">議題管理</a>
                        </div>

                        <div class="collapse accordion-content" id="menu-accordion-issue-content" aria-labelledby="menu-accordion-issue-head" data-parent="#menu-accordion-issue">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link">議題管理</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link">子議題管理</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </aside>

        <article class="content">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </article>
    </section>

    <footer class="footer">&copy; Motivators 2019</footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
