h1 {
  font-size: 7rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 1.8rem;
}

.lighten {
  opacity: 0.4;
}

.theme {
  text-align: center;
  font-size: 1.5rem;
  margin: 2rem 1rem 1rem;
  font-weight: 100;
  font-family: "Roboto script=all rev=1";
}

.theme:after {
  content: "";
  top: -80%;
  z-index: -1;
  width: 200%;
  background: url(/Official/images/X-logo-w.svg) no-repeat;
  height: 200%;
  position: fixed;
  background-size: 100%;
  background-position: center;
  left: -80%;
}

.border {
  border: 1px solid #d8d8d8;
  margin-bottom: 0.5rem;
}

.media-content {
  vertical-align: middle;
  display: inline-block;
  margin: 10px 0.5rem 10px 0;
  width: 3rem;
  height: 3rem;
  background: #292929;
}

.media-content:first-child {
  margin-left: 0.5rem;
}

/*--- var ---*/
/*-----------*/
/*--- var ---*/
.animation-vertical,
.animation-horizontal,
.animation-fire {
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 80px;
  z-index: 2200;
}

.animation-vertical {
  background: red;
  -webkit-animation: a-down 1s ease;
  /* Safari 4.0 - 8.0 */
  animation: a-down 1s ease;
}

.animation-horizontal {
  background: blue;
  -webkit-animation: a-right 1s ease;
  /* Safari 4.0 - 8.0 */
  animation: a-right 1s ease;
}

.animation-fire {
  background: #252325;
}

.animation-fire:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 21rem;
  height: 21rem;
  border-radius: 100%;
  border: 1px solid red;
  background: url(/Official/images/fire.svg) no-repeat;
  background-size: 90%;
  background-position: center;
  -webkit-animation: a-fire 1s ease;
  /* Safari 4.0 - 8.0 */
  animation: a-fire 1s ease;
}

.animation-fire:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  border: 1px solid red;
  -webkit-box-shadow: 0 0 50px 10px #872d4a8f;
          box-shadow: 0 0 50px 10px #872d4a8f;
  -webkit-animation: a-fire 1s ease;
  /* Safari 4.0 - 8.0 */
  animation: a-fire 1s ease;
}

/* Standard syntax */
@-webkit-keyframes a-down {
  from {
    height: 0%;
  }
  to {
    height: 100;
  }
}
@keyframes a-down {
  from {
    height: 0%;
  }
  to {
    height: 100;
  }
}

/* Standard syntax */
@-webkit-keyframes a-right {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes a-right {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Standard syntax */
@-webkit-keyframes a-fire {
  from {
    width: 0;
    height: 0;
    -webkit-box-shadow: 0 0 50px 10px #ffffff00;
            box-shadow: 0 0 50px 10px #ffffff00;
  }
  to {
    width: 22rem;
    height: 22rem;
    -webkit-box-shadow: 0 0 50px 10px #872d49c4;
            box-shadow: 0 0 50px 10px #872d49c4;
  }
}
@keyframes a-fire {
  from {
    width: 0;
    height: 0;
    -webkit-box-shadow: 0 0 50px 10px #ffffff00;
            box-shadow: 0 0 50px 10px #ffffff00;
  }
  to {
    width: 22rem;
    height: 22rem;
    -webkit-box-shadow: 0 0 50px 10px #872d49c4;
            box-shadow: 0 0 50px 10px #872d49c4;
  }
}

/* Standard syntax */
@-webkit-keyframes a-warningLines {
  0% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 0;
  }
}
@keyframes a-warningLines {
  0% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 0;
  }
}

/* Standard syntax */
@-webkit-keyframes a-refresh {
  0% {
    right: -100%;
  }
  100% {
    right: 100%;
  }
}
@keyframes a-refresh {
  0% {
    right: -100%;
  }
  100% {
    right: 100%;
  }
}

.rectangle-title {
  color: #292929;
  padding: 0.5rem 0;
}

.rectangle-title:before {
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  content: '';
  width: 4px;
  height: 30px;
  background: #000000;
  display: inline-block;
  margin-right: 0.3rem;
  vertical-align: middle;
}

.rectangle-title.light {
  color: #fff;
}

.rectangle-title.light:before {
  background: #fff;
}

.node {
  cursor: pointer;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.5);
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
}

.node:hover {
  background: rgba(255, 255, 255, 0.8);
}

.node.active {
  background: #41f1f4;
}

.node-line {
  width: 1px;
  max-height: 10rem;
  min-height: 2rem;
  background: #fff;
  margin: auto;
  height: 200%;
  -webkit-transform-origin: center;
          transform-origin: center;
  position: relative;
}

.camera {
  width: 100%;
  height: 200px;
  -webkit-perspective-origin: center center;
          perspective-origin: center center;
  -webkit-perspective: 300px;
          perspective: 300px;
}

.camera .space {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px dashed #000;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.camera .space .box {
  transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -webkit-transform: translateX(50px) translateY(50px) rotateY(20deg);
          transform: translateX(50px) translateY(50px) rotateY(20deg);
}

.section-1 {
  background-image: url("/Official/images/index.png");
}

.section-3 {
  background-image: url("/Official/images/X-logo.svg");
}

.out {
  height: 1300px;
}

.wrapper {
  overflow-y: scroll;
}

.article {
  margin: 0 auto;
  height: 100vh;
  padding: 40px;
  font: 24px 'Arial';
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  line-height: 28px;
}

.test {
  top: -20%;
}

.off {
  top: -80%;
}

.moon {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.master-vision {
  position: absolute;
  top: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.adj {
  mix-blend-mode: difference;
  background-image: linear-gradient(149deg, #eaeaea, #a4a4a4 29%, #4a3c3c);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}

.bg-red {
  background-image: radial-gradient(circle at 20% -50%, #6d1717, #0b524c 10%, #000000);
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
}

.moon {
  background: url("/Official/images/moon.png") no-repeat;
  background-size: 100%;
  width: 60rem;
  height: 60rem;
  background-blend-mode: difference;
  position: absolute;
  z-index: 1;
  top: -50%;
  left: 0;
  right: 0;
  margin: auto;
}

.wing {
  background: url("/Official/images/wing.png") no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 3;
  width: 100%;
  -webkit-transform: rotateZ(-10deg);
          transform: rotateZ(-10deg);
  width: 100%;
  height: 65rem;
  right: -50%;
  top: 0;
}

.video-style:before {
  position: absolute;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  content: "";
  clear: both;
  display: block;
  background: radial-gradient(circle at 50% 15%, rgba(176, 177, 181, 0.58), rgba(0, 0, 0, 0.42)), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.72)), to(rgba(0, 0, 0, 0.72))), url(/Official/images/screen.png) center center repeat;
  background: radial-gradient(circle at 50% 15%, rgba(176, 177, 181, 0.58), rgba(0, 0, 0, 0.42)), linear-gradient(rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.72)), url(/Official/images/screen.png) center center repeat;
  -ms-background-size: 3px 3px;
  background-size: 3px 3px;
}

.logo-header {
  display: inline-block;
  width: calc(100% - 16rem);
  padding-top: 4px;
  vertical-align: top;
  mix-blend-mode: difference;
  height: 40px;
}

.logo-header a {
  display: block;
  margin: auto;
  position: relative;
  float: none;
  width: 2.5rem;
  height: 100%;
  cursor: pointer;
}

.logo-header a .x-logo {
  transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  background: url("/Official/images/X-logo.svg") no-repeat;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
}

.logo-header a .x-logo:hover {
  opacity: 0.4;
}

.logo-x {
  position: absolute;
  margin: auto;
  display: block;
  left: 0;
  z-index: 100;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 5rem;
  right: 0;
  top: 0;
  bottom: 0;
  mix-blend-mode: difference;
}

.logo-x.icon-logo {
  color: #00A9E0;
  font-size: 5rem;
}
/*# sourceMappingURL=index.css.map */