h1 {
  font-size: 7rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 1.8rem;
}

.lighten {
  opacity: 0.4;
}

.theme {
  text-align: center;
  font-size: 1.5rem;
  margin: 2rem 1rem 1rem;
  font-weight: 100;
  font-family: "Roboto script=all rev=1";
}

.theme:after {
  content: "";
  top: -80%;
  z-index: -1;
  width: 200%;
  background: url(/Official/images/X-logo-w.svg) no-repeat;
  height: 200%;
  position: fixed;
  background-size: 100%;
  background-position: center;
  left: -80%;
}

.border {
  border: 1px solid #d8d8d8;
  margin-bottom: 0.5rem;
}

.media-content {
  vertical-align: middle;
  display: inline-block;
  margin: 10px 0.5rem 10px 0;
  width: 3rem;
  height: 3rem;
  background: #292929;
}

.media-content:first-child {
  margin-left: 0.5rem;
}

/*--- var ---*/
/*-----------*/
/*--- var ---*/
.animation-vertical,
.animation-horizontal,
.animation-fire {
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 80px;
  z-index: 2200;
}

.animation-vertical {
  background: red;
  -webkit-animation: a-down 1s ease;
  /* Safari 4.0 - 8.0 */
  animation: a-down 1s ease;
}

.animation-horizontal {
  background: blue;
  -webkit-animation: a-right 1s ease;
  /* Safari 4.0 - 8.0 */
  animation: a-right 1s ease;
}

.animation-fire {
  background: #252325;
}

.animation-fire:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 21rem;
  height: 21rem;
  border-radius: 100%;
  border: 1px solid red;
  background: url(/Official/images/fire.svg) no-repeat;
  background-size: 90%;
  background-position: center;
  -webkit-animation: a-fire 1s ease;
  /* Safari 4.0 - 8.0 */
  animation: a-fire 1s ease;
}

.animation-fire:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  border: 1px solid red;
  -webkit-box-shadow: 0 0 50px 10px #872d4a8f;
          box-shadow: 0 0 50px 10px #872d4a8f;
  -webkit-animation: a-fire 1s ease;
  /* Safari 4.0 - 8.0 */
  animation: a-fire 1s ease;
}

/* Standard syntax */
@-webkit-keyframes a-down {
  from {
    height: 0%;
  }
  to {
    height: 100;
  }
}
@keyframes a-down {
  from {
    height: 0%;
  }
  to {
    height: 100;
  }
}

/* Standard syntax */
@-webkit-keyframes a-right {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes a-right {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Standard syntax */
@-webkit-keyframes a-fire {
  from {
    width: 0;
    height: 0;
    -webkit-box-shadow: 0 0 50px 10px #ffffff00;
            box-shadow: 0 0 50px 10px #ffffff00;
  }
  to {
    width: 22rem;
    height: 22rem;
    -webkit-box-shadow: 0 0 50px 10px #872d49c4;
            box-shadow: 0 0 50px 10px #872d49c4;
  }
}
@keyframes a-fire {
  from {
    width: 0;
    height: 0;
    -webkit-box-shadow: 0 0 50px 10px #ffffff00;
            box-shadow: 0 0 50px 10px #ffffff00;
  }
  to {
    width: 22rem;
    height: 22rem;
    -webkit-box-shadow: 0 0 50px 10px #872d49c4;
            box-shadow: 0 0 50px 10px #872d49c4;
  }
}

/* Standard syntax */
@-webkit-keyframes a-warningLines {
  0% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 0;
  }
}
@keyframes a-warningLines {
  0% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 0;
  }
}

/* Standard syntax */
@-webkit-keyframes a-refresh {
  0% {
    right: -100%;
  }
  100% {
    right: 100%;
  }
}
@keyframes a-refresh {
  0% {
    right: -100%;
  }
  100% {
    right: 100%;
  }
}

.rectangle-title {
  color: #292929;
  padding: 0.5rem 0;
}

.rectangle-title:before {
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  content: '';
  width: 4px;
  height: 30px;
  background: #000000;
  display: inline-block;
  margin-right: 0.3rem;
  vertical-align: middle;
}

.rectangle-title.light {
  color: #fff;
}

.rectangle-title.light:before {
  background: #fff;
}

.node {
  cursor: pointer;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.5);
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
}

.node:hover {
  background: rgba(255, 255, 255, 0.8);
}

.node.active {
  background: #41f1f4;
}

.node-line {
  width: 1px;
  max-height: 10rem;
  min-height: 2rem;
  background: #fff;
  margin: auto;
  height: 200%;
  -webkit-transform-origin: center;
          transform-origin: center;
  position: relative;
}

.camera {
  width: 100%;
  height: 200px;
  -webkit-perspective-origin: center center;
          perspective-origin: center center;
  -webkit-perspective: 300px;
          perspective: 300px;
}

.camera .space {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px dashed #000;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.camera .space .box {
  transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -webkit-transform: translateX(50px) translateY(50px) rotateY(20deg);
          transform: translateX(50px) translateY(50px) rotateY(20deg);
}

.work-list {
  top: 50%;
  padding-left: 8vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  white-space: nowrap;
  position: absolute;
  overflow-x: scroll;
  width: 100%;
}

.work-list::-webkit-scrollbar {
  display: none;
}

.custom-slick {
  margin-right: 0;
  width: 100%;
}

.work-list {
  width: 100%;
}

.work-list:hover .work-div {
  opacity: 0.2;
}

.work-list:hover .work-div:hover {
  opacity: 1;
}

.work-div {
  transition: all 0.6s ease 0s;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  -ms-transition: all 0.6s ease 0s;
  width: 20rem;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.5rem;
  position: relative;
}

.work-div .no-data {
  width: 100%;
  height: 30rem;
  color: #292929;
  background: #ccc;
}

.work-div .work-info {
  transition: all 0.6s ease 0s;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  -ms-transition: all 0.6s ease 0s;
  width: 100%;
  height: 100%;
  padding: 0 0.5rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: left;
  color: #fff;
  white-space: normal;
  visibility: hidden;
}

.work-div:hover {
  width: 40rem;
}

.work-div:hover .work-info {
  background: #cccccc;
  visibility: visible;
}
/*# sourceMappingURL=work.css.map */