<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>XinRevolution - Management</title>

    <link rel="stylesheet" href="~/Management/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Management/lib/jquery-datatable/css/jquery.datatables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/Management/css/management.style.css" />

    <script src="~/Common/lib/jquery/js/jquery.3.4.1.min.js"></script>
    <script src="~/Common/lib/jquery-validation/js/jquery.validate.min.js"></script>
    <script src="~/Common/lib/jquery-validation-unobtrusive/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Management/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Management/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Management/lib/jquery-datatable/js/jquery.datatables.min.js"></script>
    <script src="~/Management/lib/jquery-datatable/js/jquery.datatables.bootstrap4.min.js"></script>
    <script src="~/Management/js/management.util.js"></script>

    @RenderSection("styles", required: false)
</head>
<body>
    <header class="navbar navbar-dark bg-dark">
        <a asp-area="Management" asp-controller="User" class="navbar-brand">XinRevolution - Management</a>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <nav class="nav flex-column">
                    <div><a asp-area="Management" asp-controller="User" class="nav-item nav-link">使用者管理</a></div>

                    <div class="dropdown">
                        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownBlogManagement" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">部落格管理</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownBlogManagement">
                            <a asp-area="Management" asp-controller="Tag" class="dropdown-item nav-item nav-link">標籤管理</a>
                            <a asp-area="Management" asp-controller="Blog" class="dropdown-item nav-item nav-link">部落格管理</a>
                        </div>
                    </div>

                    <div><a asp-area="Management" asp-controller="Issue" class="dropdown-item nav-item nav-link">議題管理</a></div>
                </nav>
            </div>

            <div class="col-10 p-0">
                <div class="container-fluid p-0">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <footer class="navbar navbar-dark bg-dark fixed-bottom justify-content-center">
        <div class="navbar-text">&copy; Motivators 2019 </div>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>