@model UserMD
@{
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>XinRevolution - Management</title>

    <link rel="stylesheet" href="~/Management/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Management/css/management.style.css" />

    <script src="~/Common/lib/jquery/js/jquery.3.4.1.min.js"></script>
    <script src="~/Common/lib/jquery-validation/js/jquery.validate.min.js"></script>
    <script src="~/Common/lib/jquery-validation-unobtrusive/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Management/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Management/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <form asp-area="Management" asp-controller="Home" asp-action="Login" method="post" class="col-sm-6">
                <div class="form-group row justify-content-center mb-sm-5">
                    <h1>XinRevolution</h1>
                </div>

                <div class="form-group row">
                    <input asp-for="Account" class="form-control" />
                    <span asp-validation-for="Account" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group row justify-content-center">
                    <span class="text-danger">@ViewBag.ErrorMsg</span>
                </div>

                <div class="form-group row justify-content-center">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>

<script>
    $(function () { 
        $('#Account').focus();
    });
</script>