@* 飛魚內容 *@

<!-- 角色正反面 -->
<div class="character">
    <div class="front active">
        <!-- 角色正面 -->
        <div>
            <img src="/Official/images/fish.png" alt="">
        </div>
    </div>
    <div class="back">
        <!-- 角色背面 -->
        <div>
            <img src="/Official/images/fish.png" alt="">
        </div>
    </div>
</div>
<!-- 角色介紹區域-->
<div class="column-8 pre-16 h100">
    <!-- 角色介紹 -->
    <div class="characterInfo">

        <div class="nameDiv">
            <h4>熊鷹</h4>
            <p>Et quis nisi esse aute fugiat ea voluptate ut laborum aliqua id adipisicing.</p>
            <div class="media">
                <div class="mediaContent"></div>
                <div class="mediaContent"></div>
                <div class="mediaContent"></div>
                <div class="mediaContent"></div>
                <div class="mediaContent"></div>
            </div>
            <div>more</div>
        </div>
        <!-- 部件介紹 -->
        <hr>
        <div class="">
            <div>Equipment</div>
            <div>輪播</div>
            <div>介紹1</div>
            <!-- 部件詳細 -->
            <div>詳細大圖</div>
        </div>
    </div>
</div>
