
<div>
    <partial name="_LayoutNavigation" />

    <div>
        <div>
            <ul class="">
                <li>
                    <div>世界</div>
                    <div>
                        <ul>
                            <li>event</li>
                            <li>event</li>
                            <li>event</li>
                            <li>event</li>
                            <li>event</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div>場景</div>
                    <div>
                        <ul>
                            <li>event</li>
                            <li>event</li>
                            <li>event</li>
                            <li>event</li>
                            <li>event</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div>設定</div>
                    <div>
                        <ul>
                            <li>event</li>
                            <li>event</li>
                            <li>event</li>
                            <li>event</li>
                            <li>event</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div>擴充</div>
                    <div>
                        <ul>
                            <li>event</li>
                            <li>event</li>
                            <li>event</li>
                            <li>event</li>
                            <li>event</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

        <div id="asdf">
        </div>
    </div>

    <partial name="_Navigation" />
</div>

@section Scripts{
    <script src="~/Official/js/FireGeneration/conception.js"></script>
}