
<div class="js-ctrl-background h100" data-header="bright">
    <partial name="_LayoutNavigation" />

    <div class="grid-container h100 relative overflowAuto-y content">
        <div class="column-6 fixed">
            <ul>
                <li>
                    <div>世界</div>
                    <ul>
                        <li class="conception-btn" data-id="1234">event1</li>
                        <li class="conception-btn" data-id="1234">event2</li>
                    </ul>
                </li>

                <li>
                    <div>場景</div>
                    <ul>
                        <li class="conception-btn" data-id="1234">event1</li>
                        <li class="conception-btn" data-id="1234">event2</li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="column-16 pre-8" id="js-block-coception-content"></div>
    </div>

    <partial name="_Navigation" />
</div>

@section Scripts{
    <script src="~/Official/js/FireGeneration/conception.js"></script>
}