@{
ViewBag.Transition = TransitionType.HORIZONTAL;
}

<style>
    .nameDiv {
        margin-bottom: 0.5rem;
    }

    .characterInfo {
        top: 50%;
        position: relative;
    }

    td {
        border: 1px solid #000;
    }
</style>

@* 焰世代 - 首頁 *@
@*<div>
    <partial name="_LayoutNavigation" />

    <div class="characters-bg js-ctrl-background" data-header="bright">
        <div class="grid-container h100 relative">
            <a class="column-4  bear" asp-controller="FireGeneration" asp-action="Character" asp-route-role="Bear"></a>

            <a class="column-4 fish" asp-controller="FireGeneration" asp-action="Character" asp-route-role="Fish"></a>

            <a class="column-4 tiger" asp-controller="FireGeneration" asp-action="Character" asp-route-role="Tiger"></a>

            <a class="column-4  dg" asp-controller="FireGeneration" asp-action="Character" asp-route-role="Dg"></a>

            <a class="column-4  bee" asp-controller="FireGeneration" asp-action="Character" asp-route-role="Bee"></a>

            <a class="column-4  free " asp-controller="FireGeneration" asp-action="Character"
                asp-route-role="HawkEagle"></a>
        </div>
    </div>

    <partial name="_Navigation" />
</div>*@

<div>
    <partial name="_LayoutNavigation" />
    <div>
        <div class="background">
            <img src="" />
        </div>

        <div class="characters-bg js-ctrl-background" data-header="bright">
            <div class="grid-container h100 relative content">


                <div class="characters-div">
                    <a class="btn" asp-area="Official" asp-controller="FireGeneration" asp-action="Character"
                        asp-route-id="2">bear</a>
                    <img class="default" src="~/Official/images/bear.png" />
                    <img class="onhover" src="~/Official/images/bear-hover.png" />
                </div>
                <div class="characters-div">
                    <a class="btn" asp-area="Official" asp-controller="FireGeneration" asp-action="Character"
                        asp-route-id="2">fish</a>
                    <img class="default" src="~/Official/images/fish.png" />
                    <img class="onhover" src="~/Official/images/fish-hover.png" />
                </div>
                <div class="characters-div">
                    <a class="btn" asp-area="Official" asp-controller="FireGeneration" asp-action="Character"
                        asp-route-id="2">tiger</a>
                    <img class="default" src="~/Official/images/tiger.png" />
                    <img class="onhover" src="~/Official/images/tiger-hover.png" />
                </div>
                <div class="characters-div">
                    <a class="btn" asp-area="Official" asp-controller="FireGeneration" asp-action="Character"
                        asp-route-id="2">dg</a>
                    <img class="default" src="~/Official/images/dg.png" />
                    <img class="onhover" src="~/Official/images/dg-hover.png" />
                </div>
                <div class="characters-div">
                    <a class="btn" asp-area="Official" asp-controller="FireGeneration" asp-action="Character"
                        asp-route-id="2">bee</a>
                    <img class="default" src="~/Official/images/bee.png" />
                    <img class="onhover" src="~/Official/images/bee-hover.png" />
                </div>
                <div class="characters-div">
                    <a class="btn" asp-area="Official" asp-controller="FireGeneration" asp-action="Character"
                        asp-route-id="1">free</a>
                    <img class="default" src="~/Official/images/free.png" />
                    <img class="onhover" src="~/Official/images/free-hover.png" />
                </div>
            </div>
        </div>
    </div>
    <partial name="_Navigation" />
</div>