@{
ViewBag.Transition = TransitionType.HORIZONTAL;
}

@* 焰世代 - 詳細介紹 *@
<div>
    <partial name="_LayoutNavigation" />
    <div class="grid-container pt-content relative fire-intro">
        <div class="icon-fire" style="text-align: center;
    font-size: 16rem;"></div>
        <p class="">
            散落在世界的少年們自詡為"焰世代"，他們對抗的是以隱喻的方式呈現的現實中難解的矛盾，故事背景結合時事及議題並融合臺灣神話，藉議題不同立場來刻畫故事的衝突，由角色在衝突中展現勇氣與叛逆，帶給大眾正向的力量及對議題的反思。
        </p>
    </div>
    <partial name="_Navigation" />
</div>